@primaryColor1: #337ab7; /*BootStrap Green*/
@gridHover: #FFECB0; /*Color Used for Grid Hover effect*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.adminForm {
    .k-dropdown {
        width: 100%;
    }
}

.reportTabstrip {
    margin-top: 20px !important;
    border: none !important;
    border-color: none !important;
    background-color: white !important;

    i, button {
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
    }
}

[data-notify="container"] {
    width: 70%;
    max-width: 800px;
}

@media screen and (min-width: 1100px) {
    [data-notify="container"] {
        width: 50% !important;
    }
}

@media screen and (max-width: 720px) {
    .ulGuestStats {
        li {
            display: block !important;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: 50% !important;

            label {
                display: inline-block;
                width: 120px;
                text-align: right;
                margin-right: 10px;
                font-size: 15px;
            }

            span {
                display: inline-block;
                font-size: 15px;
            }
        }
    }

    .ulGridHdr {

        li {
            width: 98% !important;
            display: block !important;
            margin-top: 5px !important;
            margin-bottom: 5px !important;

            .divSection {
                display: block !important;
                width: 100% !important;
                margin-top: 5px !important;
                margin-bottom: 5px !important;
            }

            button {
                width: 100% !important;
            }
        }
    }

    .divFormBtnContainer {
        width: 100%;

        button {
            display: block;
            width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 16px;
        }
    }

    .errorMsg {
        width: 90% !important;
    }

    [data-notify="container"] {
        left: 5% !important;
        right: 5% !important;
        width: 90% !important;
    }
}

.divGridContainer {
    margin-top: 20px;
    text-align: center;
    width: 100%;

    .gridBtnContainer {
        button {
            margin-left: 2px;
            margin-right: 2px;
        }
    }

    .ulGridHdr {
        list-style: none;
        padding: 0;

        li {
            width: 100%;

            .divSection {
                display: inline-block;
                text-align: left;
            }
        }

        .divSection2 {
            .divSection {
                width: 48%;
            }
        }

        .divSection3 {
            .divSection {
                width: 32%;
            }
        }
    }
}

.divEmailGridContainer {
    margin-top: 10px;

    input[type="text"] {
        box-sizing: border-box !important;
        webkit-box-sizing: border-box !important;
    }
}

.divGuestGridContainer {
    .ulGuestStats {
        list-style: none;
        padding: 0;

        li {
            display: inline-block;
            width: 18%;
        }
    }
}

.divCrudForm {
    margin-top: 20px;

    .k-dropdown, input[type="text"] {
        width: 100%;
        max-width: 100%;
    }
}

.defaultWindowTemplate {
    .k-window-titlebar {
        background-color: @primaryColor1;
        color: white;
        font-size: 17px;
    }
}

.divHdrTitle {
    margin-left: 5px;

    i {
        margin-right: 5px;
    }
}

.deleteWindowTemplate {
    width: 70%;
    max-width: 500px;

    .deleteWindowContent {
        text-align: center;
        font-size: 15px;
        font-weight: bold;
    }

    ul {
        list-style: none;
        text-align: center;
        padding: 0;
        width: 98%;

        li {
            margin-top: 20px;
        }

        .liButtons {
            text-align: right;
        }
    }
}

.divNotification {
    font-size: 16px;

    i {
        margin-right: 10px;
    }
}

.alert-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.alert-danger {
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/*.divWebsiteMaintenanceForm {
    margin-top: 20px;

    
}*/

.form-group {
    textarea {
        width: 100%;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        resize: none;
        height: 200px;
    }
}

.defaultGrid {
    font-size: 14px;

    .k-grid-header, .k-header {
        background-color: @primaryColor1;
        color: white !important;

        .k-link {
            color: white !important;
        }
    }

    .grdCheckbox {
        text-align: center;
    }

    .k-grid-content {
        table {
            tbody {
                .k-master-row {
                    &:hover {
                        background-color: @gridHover;
                    }
                }

                .k-detail-row {
                    .k-detail-cell {
                        .k-grid {
                            table {
                                tr {
                                    &:hover {
                                        background-color: @gridHover;
                                    }
                                }
                            }
                        }
                    }
                }
                /*tr
                {
                    &:hover
                    {
                        background-color: @gridHover;
                    }
                }*/
            }
        }
        /*overflow: hidden !important;*/ /*hide scroll bar in grid */
    }

    .grdRowSelected {
        background-color: @gridHover;
    }
}

.singleGrid {
    .k-grid-content {
        table {
            tbody {
                tr {
                    &:hover {
                        background-color: @gridHover;
                    }
                }
            }
        }
    }
}

button {
    .mixIn-Transition(background-color, .3s);
}

.btn {
    .mixIn-Transition(background-color, .3s);
    color: white;

    &:focus {
        outline: none;
    }

    &:disabled {
        cursor: not-allowed;

        i {
            cursor: not-allowed;
        }
    }
}

.btn-danger {
    border-color: #d43f3a;
    background-color: #d9534f;

    &:hover {
        border-color: #d9534f !important;
        background-color: white !important;
        color: #d43f3a !important;
    }

    &:active {
        background-color: #d43f3a !important;
    }
}

.btn-warning {
    border-color: #eea236 !important;
    background-color: #f0ad4e !important;

    &:hover {
        border-color: #f0ad4e !important;
        background-color: white !important;
        color: #eea236 !important;
    }

    &:active {
        background-color: #eea236 !important;
    }
}

.btn-success {
    border-color: #4cae4c !important;
    background-color: #5cb85c !important;

    &:hover {
        border-color: #5cb85c !important;
        background-color: white !important;
        color: #4cae4c !important;
    }

    &:active {
        background-color: #4cae4c !important;
    }
}

.btn-info {
    border-color: #46b8da !important;
    background-color: #5bc0de !important;

    &:hover {
        border-color: #5bc0de !important;
        background-color: white !important;
        color: #46b8da !important;
    }

    &:active {
        background-color: #46b8da !important;
    }
}

.btn-primary {
    border-color: #2e6da4 !important;
    background-color: #337ab7 !important;

    &:hover {
        border-color: #337ab7 !important;
        background-color: white !important;
        color: #2e6da4 !important;
    }

    &:active {
        background-color: #2e6da4 !important;
    }
}

.mixIn-Transition(@property, @seconds) {
    -webkit-transition: @property @seconds ease-out;
    -moz-transition: @property @seconds ease-out;
    -o-transition: @property @seconds ease-out;
    transition: @property @seconds ease-out;
}

#divMsgContainer {
    text-align: center;
    color: #d9534f;
}

