
@{
    ViewBag.Title = "Guest Maintenance";
}

@Html.Partial("../Shared/_Templates")

<div id="divGuestCrudContainer">
    <div class="divGridContainer divGuestGridContainer" id="divGuestGridContainer">
        <ul id="ulGuestStats" class="ulGuestStats">
            <li>
                <label>Total Guests:</label>
                <span id="spnTotalGuests"></span>
            </li>
            <li>
                <label>Bride Guests:</label>
                <span id="spnTotalBrideGuests"></span>
            </li>
            <li>
                <label>Groom Guests:</label>
                <span id="spnTotalGroomGuests"></span>
            </li>
            <li>
                <label>Checked In:</label>
                <span id="spnTotalCheckedIn"></span>
            </li>
            <li>
                <label>Attending:</label>
                <span id="spnTotalAttending"></span>
            </li>
        </ul>
        <ul class="ulGridHdr">
            <li class="divSection3">
                <div class="divSection">
                    <button class="btn btn-success btnIcon" id="btnAddNewGuest"><i class="fa fa-plus" aria-hidden="true"></i>Add Guest</button>
                </div>
                <div class="divSection">
                    <button class="btn btn-success btnIcon" id="btnSendMassEmail"><i class="fa fa-paper-plane" aria-hidden="true"></i>Send Email To All Guests</button>
                </div>
                <div class="divSection">
                    <input class="form-control" type="text" id="txtSearchGuestGrid" placeholder="Search Grid">
                </div>
            </li>
        </ul>
        <div id="tblGuestList" class="defaultGrid singleGrid"></div>
    </div>

    <div id="divGuestCreateEditForm" class="form-horizontal divCrudForm divGuestCreateEditForm hidden">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 id="createEditGuestPanelTitle" class="panel-title">Create Guest</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-10 col-md-offset-1">
                    <div class="form-group">
                        <div id="divErrorMsgContainer" class="hidden"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="txtZip">Attach to Guest?:</label>
                        <div class="col-md-10">
                            <select id="ddlAttachToGuest"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="txtFirstName">First Name: <i class="fa fa-asterisk" aria-hidden="true"></i></label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" id="txtFirstName" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="txtLastName">Last Name: <i class="fa fa-asterisk" aria-hidden="true"></i></label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" id="txtLastName" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="txtEmail">Email: @*<i class="fa fa-asterisk" aria-hidden="true"></i>*@</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" id="txtEmail" maxlength="255">
                        </div>
                    </div>
                    <div class="form-group attachToGuestHide">
                        <label class="col-md-2 control-label" for="txtAddress1">Address 1:</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" id="txtAddress1" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group attachToGuestHide">
                        <label class="col-md-2 control-label" for="txtAddress2">Address 2:</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" id="txtAddress2" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group attachToGuestHide">
                        <label class="col-md-2 control-label" for="txtCity">City:</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" id="txtCity" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group attachToGuestHide">
                        <label class="col-md-2 control-label" for="txtState">State:</label>
                        <div class="col-md-10">
                            @*<input class="form-control" type="text" id="txtState" maxlength="50">*@
                            <select id="ddlState"></select>
                        </div>
                    </div>
                    <div class="form-group attachToGuestHide">
                        <label class="col-md-2 control-label" for="txtZip">Zip:</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" id="txtZip" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group attachToGuestHide">
                        <label class="col-md-2 control-label" for="txtZip">Confirmation Code:</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" id="txtConfirmationCode" disabled>
                        </div>
                    </div>
                    <div class="form-group attachToGuestHide">
                        <label class="col-md-2 control-label" for="txtZip">Family:</label>
                        <div class="col-md-10">
                            <label class="radio-inline"><input type="radio" name="rbFamily" value="1" checked="checked">Bride</label>
                            <label class="radio-inline"><input type="radio" name="rbFamily" value="2">Groom</label>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="pull-right divFormBtnContainer">
                            @*<button id="btnResetAllConfirmCodes" class="btn btn-danger btnIcon"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Reset All Confirmation Codes...</button>*@
                            <button class="btn btn-danger btnIcon" id="btnCancel"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>
                            <button class="btn btn-success btnIcon" id="btnSubmit"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="divGuestEmailForm" class="form-horizontal divCrudForm divGuestEmailForm hidden">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Send Email</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-10 col-md-offset-1">
                    <div class="form-group">
                        <div id="divEmailErrorMsgContainer" class="hidden"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtZip">Email Template:</label>
                        <div class="col-md-8">
                            <select id="ddlEmailTemplate"></select>
                        </div>
                    </div>
                    <div id="divEmailAddressGridContainer" class="form-group">
                        <div id="divMsgContainer">
                            <h4 class="iconBounce"><i class="fa fa-asterisk" aria-hidden="true"></i> All Guests Displayed In Grid Will Be Emailed, Please Review!</h4>
                        </div>
                        <div id="tblSendEmailToAllGuests" class="defaultGrid singleGrid"></div>
                    </div>
                    <div id="divEmailAddressContainer" class="form-group">
                        <label class="col-md-4 control-label" for="txtEmailAddress">Email Address: <i class="fa fa-asterisk" aria-hidden="true"></i></label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="txtEmailAddress" disabled>
                        </div>
                    </div>
                    <div class="form-group hideUnlessEmailSelected">
                        <label class="col-md-4 control-label" for="taEmailSubject">Email Subject: <i class="fa fa-asterisk" aria-hidden="true"></i></label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" id="txtEmailSubject" disabled>
                        </div>
                    </div>
                    <div class="form-group hideUnlessEmailSelected">
                        <label class="col-md-4 control-label" for="taEmailBody">Email Body: <i class="fa fa-asterisk" aria-hidden="true"></i></label>
                        <div class="col-md-8">
                            <textarea id="taEmailBody"  disabled></textarea>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="pull-right divFormBtnContainer">
                            <button class="btn btn-danger btnIcon" id="btnCancelEmail"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>
                            <button class="btn btn-success btnIcon" id="btnSubmitEmail"><i class="fa fa-paper-plane" aria-hidden="true"></i>Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="divGuestDeleteWindow"></div>
</div>

<script id="guestWindowTemplate" type="text/x-handlebars-template">
    <ul>
        <li>
            <div class='deleteWindowContent'><span>Are you sure that you want to delete {{GuestName}} ?</span></div>
        </li>
        <li class="liButtons">
            <button class="btn btn-danger btnIcon" id="btnCancelGuestDelete"><i class="fa fa-times" aria-hidden="true"></i>Cancel</button>
            <button class="btn btn-success btnIcon" id="btnSaveGuestDelete"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</button>
        </li>
    </ul>
</script>

<script id="guestGridActionsTemplate" type="text/x-handlebars-template">
    <div class='gridBtnContainer'>
        <button data-editGuestButton data-guestdetailid="{{GuestDetailId}}" class='btn btn-warning'><i class='fa fa-pencil' aria-hidden='true'></i></button>
        <button data-deleteGuestButton data-guestdetailid="{{GuestDetailId}}" class='btn btn-danger'><i class='fa fa-trash' aria-hidden='true'></i></button>
        <button data-sendRsvpEmailGuestButton data-guestdetailid="{{GuestDetailId}}" {{#if EmailDisabled}}disabled{{/if}} class='btn btn-info'><i class='fa fa-envelope-o' aria-hidden='true'></i></button>
    </div>
</script>

@Scripts.Render("~/Guest/scripts")




