
@{
    Layout = null;
}

<!DOCTYPE html>

<html class="divBackgroundGradient">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GuestBookApprovalResult</title>
</head>
<body>
    <div class="divContainer"> 
        <div class="form-group">
            <span>Guest Book Approval Was Successful!</span>
        </div>
        <div class="form-group">
            <a href="https://wedding.danielkevinmauk.com/Admin/">Return To Admin Section</a>
        </div>
    </div>
</body>
</html>

<style>

    .divBackgroundGradient
    {
        height: 100%;
        background-image: radial-gradient(white, #8bd3bc );
    }

    .divContainer
    {
        margin-top: 50px;
        text-align: center;
    }

    .form-group
    {
        color: white;
        margin: 20px;
        font-size: 30px;
    }

</style>
