
@{
    Layout = null;
}


<script id="headerTitleTemplate" type="text/x-handlebars-template">
    <div class="divHdrTitle">
        <i class='fa {{IconClass}}' aria-hidden='true'></i>
        <span>{{HeaderTitle}}</span>
    </div>
</script>